## Hello world printing

In [97]:
from decimal import Decimal,getcontext
import math
from collections import defaultdict

In [1]:
print('Hello, World!')

Hello, World!

In [2]:
a = [1,2,3]
b = a
a = [4,5,6]
print(b)

[1, 2, 3]

## Data Type

In [89]:
print('4' * 4)

4444

In [98]:
a = [1,2,3,4]
i=0
while i<4:
    print(a[i])
    i=i+1

1
2
3
4

In [4]:
x=2

In [6]:
type(x)

int

In [11]:
name='Rasha'
type(name)
print(name)

Rasha

In [14]:
type(2j)

complex

In [17]:
'habib' + ' loves Rasha'

'habib loves Rasha'

## Data structure 
1. list
2. sets
3. tuples
4. Dictionaries

In [38]:
#lists
a=[1,2,3,4,15,25,35]
b=[1,2,3]
c=['rasha','habib','Zara']
a.append(9)
c.append('zzz')
print(a)
print(c)
print(len(a))
print(len(b))
print(len(c))

type(a)

[1, 2, 3, 4, 15, 25, 35, 9]
['rasha', 'habib', 'Zara', 'zzz']
8
3
4

list

In [53]:
#sets
r={1,2,4}
s={9,8,7,4,6,5,'rasha'}

#r.append('zzz')
print(r)
print(s)
print(type(r))
print(len(r))
print(len(s))
#print(len(c))

{1, 2, 4}
{'rasha', 4, 5, 6, 7, 8, 9}
<class 'set'>
3
7

In [59]:
a={(1,2),(4,5)}
print(a)
print(len(a))
print(type(a))
b=[(11,22),(22,44)]
print(b)
print(len(b))
type(b)

{(1, 2), (4, 5)}
2
<class 'set'>
[(11, 22), (22, 44)]
2

list

In [88]:
#tuples
x=('a','b')
y=((4,3,9,2,7),(1,2))
#x.append('zzz')
print(x)
print(y)
print(len(x))
print(len(y))
type(x)
type(y)

('a', 'b')
((4, 3, 9, 2, 7), (1, 2))
2
2

tuple

In [70]:
#dictionaries
my_menu={
    "breakfast":"omlet",
    'bftime': 8,
    'lunch':'rice',
    'lunchtime':'2'
}
print(my_menu)
#my_menu['bftime']
my_menu['breakfast']

{'breakfast': 'omlet', 'bftime': 8, 'lunch': 'rice', 'lunchtime': '2'}

'omlet'

## Operator
> - Boolean operators  
> - Membership operators

In [72]:
True==True

True

In [73]:
True==False

False

In [74]:
True and True

True

In [75]:
True or False

True

In [76]:
False or False

False

In [77]:
1 in [1,2,3]

True

In [78]:
1 not in [2,4,6]

True

In [79]:
'Rasha' in 'My name is Rasha'

True

In [116]:
'Rasha' in 'She loves flower'

False

## Control flow
> - if/else Statement
> - For Loop
> - While Loop

In [92]:
#if/elsa statement
a = True
b = True
c = True
if a:
    print('this is first true')
    print('a')
    if b:
        print('this is second true')
        print('b')
        if c:
            print('this is third true')
            print('c')

else:
    print('Ultimately false')
print('Alsways print this')

this is first true
a
this is second true
b
this is third true
c
Alsways print this

In [93]:
#for loop
a = [1,2,3,4,5]
for item in a:
    print(item)

1
2
3
4
5

In [95]:
#while loop
a = 1
while a<10:
    print(a)
    a = a+2

1
3
5
7
9

# Function

In [5]:
def remainder (value1, value2):
    return value1 % value2 
remainder (20,6)

2

In [6]:
a = [1,3,5]
def intsertarray (val):
    a.append(val)
intsertarray(7)
print(a)

[1, 3, 5, 7]

In [18]:
def factorial (val):
    if(val == 0 or val == 1):
         return 1
    else:
         return val * factorial(val-1) 
factorial (3)

6

Coding Test

In [82]:
#codeing challenge one
def factorial(num):
      if(type(num) == int):
         if(num>=0 and num%1 == 0):
            if(num ==0 or num == 1):
               return 1
            else:
               return num * factorial(num-1)
         else: 
            return None
      else:
        return None

In [81]:
number = 'spam'
result = factorial(number)

## Class

In [53]:
class Dog:
    def __init__(self,name,colour):
        self.name = name
        self.colour = colour
        self.legs = 4
    def speak(self):
        print(self.name + ' says:Bark!')
        print('This dog colour is:' +  self.colour)
    def origin(self, country):
        print(self.name + ' from' + country)

In [100]:
#type(Dog('Rover'))

In [54]:
My_dog = Dog('Rover','black')
Her_dog = Dog('Fluffy','white')

In [55]:
My_dog.speak()

Rover says:Bark!
This dog colour is:black

In [56]:
Her_dog.speak()

Fluffy says:Bark!
This dog colour is:white

In [59]:
My_dog.origin(' Mexico')
Her_dog.origin(' USA')

Rover from Mexico
Fluffy from USA

## Converting Data type (NUMBER & FLOAT)

In [101]:
20/5

4.0

In [102]:
4 * 5.0

20.0

In [103]:
5 + 4.00

9.0

In [105]:
5 ** 4.0

625.0

In [107]:
int(5 ** 4.0)

625

In [108]:
20/6

3.3333333333333335

In [109]:
int(20/6)

3

In [110]:
round(20/6, 3)

3.333

In [114]:
round(5.0 -4.66, 2)

0.34

integers

In [115]:
int('100')

100

In [2]:
bool(-1) == 1

True

In [117]:
int('100', 2)

4

In [207]:
int('10000',8)

4096

In [214]:
int('100',16)

256

In [121]:
#int(100,2)

In [123]:
getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [128]:
getcontext().prec=4

In [131]:
Decimal(7)/ Decimal(3)

Decimal('2.333')

In [132]:
Decimal(2.333)

Decimal('2.3330000000000001847411112976260483264923095703125')

In [133]:
Decimal('2.333')

Decimal('2.333')

## Boolean

Casting boolean

In [136]:
bool(1)

True

In [137]:
bool(0)

False

In [138]:
bool(494)

True

In [142]:
bool(2j)

True

In [143]:
bool(0j)

False

In [139]:
bool('Rasha')

True

In [140]:
bool(' ')

True

In [141]:
bool('')

False

Boolean Logic

In [145]:
my_number=[1,2,3]
if my_number:
    print("My number works as a boolean expression")

My number works as a boolean expression

In [146]:
my_number=[1,2,3]
if bool(my_number):
    print("My number works as a boolean expression")

My number works as a boolean expression

In [152]:
a = 3
b = 3
if (a-b):
    print("they are not equal!")
else:
    print("they are equal!")

they are equal!

In [153]:
weatherIsNice = False
haveUmbrella = True
if not weatherIsNice or haveUmbrella:
    print ("Go for a walk!")
else:
    print("Stay at home!")

Go for a walk!

In [154]:
weatherIsNice = False
haveUmbrella = True
if  weatherIsNice or haveUmbrella:
    print ("Go for a walk!")
else:
    print("Stay at home!")

Go for a walk!

In [155]:
weatherIsNice = False
haveUmbrella = True
if  weatherIsNice and haveUmbrella:
    print ("Go for a walk!")
else:
    print("Stay at home!")

Stay at home!

In [158]:
weatherIsNice = False
haveUmbrella = True
if  (not weatherIsNice) and (haveUmbrella):
    print ("Go for a walk!")
else:
    print("Stay at home!")

Go for a walk!

## String 
> - Slicing string
> - Formating string
> - Multiline strings

Slicing

In [159]:
name = 'My name is Hasnin Jerin Rasha'

In [160]:
name[0]

'M'

In [161]:
name[6]

'e'

In [163]:
name[0:11]

'My name is '

In [164]:
name[11:]

'Hasnin Jerin Rasha'

In [165]:
name[:]

'My name is Hasnin Jerin Rasha'

In [166]:
len(name)

29

Formating

In [168]:
'My roll number is '+str(31)

'My roll number is 31'

In [169]:
f'My roll number is {31}'

'My roll number is 31'

In [171]:
f'My roll number is {31} and twice of that number is {2*31}'

'My roll number is 31 and twice of that number is 62'

In [181]:
f'the sin value is {math.asin(1):2f}'

'the sin value is 1.570796'

Multiline string

In [185]:
my_string = '''
This is my python lesson
I learn python everyday in this file
I add every new items here as well 
'''

In [186]:
my_string

'\nThis is my python lesson\nI learn python everyday in this file\nI add every new items here as well \n'

In [187]:
print(my_string)

This is my python lesson
I learn python everyday in this file
I add every new items here as well

Bytes

In [3]:
bytes(4)

b'\x00\x00\x00\x00'

In [196]:
smile = bytes('ðŸ˜Š','utf-8')
smile

b'\xf0\x9f\x98\x8a'

In [197]:
smile.decode('utf-8')

'ðŸ˜Š'

In [199]:
smile = bytearray ('ðŸ˜Š','utf-8')

In [200]:
smile[3]= int ('85',16)

In [ ]:
smile.decode('utf-8')

'ðŸ˜…'

In [31]:
#codeing challenge two
class Answer:
 def hexToDec(hexNum):
      hexNumbers = {
    '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9,
    'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F': 15
    }
      result = 0
      size = len(hexNum)-1

      for num in hexNum:
        if num not in hexNumbers:  
            return None
        result += hexNumbers[num] * (16 ** size)
        size -= 1
      
      return result

In [33]:
Answer.hexToDec('spam spam spam')

In [37]:
Answer.hexToDec('ACB')

2763

## Basic Data Structure

Lists
>- Slicing lists
>- Modifying lists

In [5]:
myList = [1,2,3,4,5,6,7,8]
myList[2:]

[3, 4, 5, 6, 7, 8]

In [6]:
myList[2:8:2]

[3, 5, 7]

In [7]:
myList[: : 2]

[1, 3, 5, 7]

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
myList = list(range(15))
myList[: : 2]

[0, 2, 4, 6, 8, 10, 12, 14]

In [11]:
myList = list(range(100))
myList[: : 10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [17]:
myList = list(range(101))
myList[: : -10]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [20]:
myList = [1,2,3,4,5]
myList.append(7)
print(myList)

[1, 2, 3, 4, 5, 7]

In [21]:
myList.insert(4,'zero')
print(myList)

[1, 2, 3, 4, 'zero', 5, 7]

In [22]:
myList.remove('zero')
print(myList)

[1, 2, 3, 4, 5, 7]

In [23]:
myList.pop()

7

In [24]:
print(myList)

[1, 2, 3, 4, 5]

In [32]:
myList.append(5)

In [33]:
print(myList)

[1, 2, 3, 4, 5]

In [36]:
while len(myList):
    print(myList.pop())

In [35]:
print(myList)

[]

In [38]:
myList = [2,4,6,8,10]
a = myList
myList.append(12)
print(a)

[2, 4, 6, 8, 10, 12]

In [42]:
myList = [2,4,6,8,10]
a = myList.copy()
myList.append(12)
print(a)
print(myList)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]

Sets & Tuples

In [43]:
#sets
mySet = {'a','b','c'}
mySet

{'a', 'b', 'c'}

In [44]:
myset = set(('a','b','c','d'))
myset

{'a', 'b', 'c', 'd'}

In [45]:
mylist = ['a','b','c','e','a','c','a']
mylist

['a', 'b', 'c', 'e', 'a', 'c', 'a']

In [46]:
mylist = list(set(mylist))
mylist

['c', 'e', 'b', 'a']

## Property of Sets
>- Declared with curly brackets
>- All elemnts are unique
>- The order doesn't matter

In [48]:
#myset[0]

TypeError: 'set' object is not subscriptable

In [49]:
mySet.add('r')
mySet

{'a', 'b', 'c', 'r'}

In [50]:
'a' in mySet

True

In [51]:
's'in mySet

False

In [52]:
len(mySet)

4

In [53]:
mySet.discard('r')
mySet

{'a', 'b', 'c'}

In [54]:
while len(mySet):
    print(mySet.pop())

c
b
a

In [55]:
mySet

set()

Tuples

In [56]:
myTuple = ('a','b','c')
myTuple

('a', 'b', 'c')

In [57]:
myTuple[0]

'a'

In [58]:
myTuple[0] ='d'

TypeError: 'tuple' object does not support item assignment

## Tuples
>- Declard with parentheses
>- Are ordered and "subscriptable"
>- Cannot be modified

## Why use Tuples
>- More efficient than lists
>- They don't grow or change
>- Store compactly in memory

In [63]:
def returnMultipleValues():
    return (1,2,3)
type(returnMultipleValues())

tuple

In [65]:
myTuple = 1, 2, 5
type(myTuple)

tuple

In [66]:
a,b,c = returnMultipleValues()

In [68]:
print(a)
print(b)
print(c)

1
2
3

## Dictionaries
>- The Default Dict

In [70]:
animals = {
    'a': 'ant',
    'b': 'beer',
    'c': 'cat',
}
animals

{'a': 'ant', 'b': 'beer', 'c': 'cat'}

In [72]:
animals['b']

'beer'

In [74]:
animals['d']='dog'
animals

{'a': 'ant', 'b': 'beer', 'c': 'cat', 'd': 'dog'}

In [75]:
animals['a']='antelope'
animals

{'a': 'antelope', 'b': 'beer', 'c': 'cat', 'd': 'dog'}

In [76]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [77]:
animals.values()

dict_values(['antelope', 'beer', 'cat', 'dog'])

In [78]:
list(animals.keys())

['a', 'b', 'c', 'd']

In [80]:
#animals['e']

In [85]:
print(animals.get('e'))

None

In [86]:
len(animals)

4

In [87]:
animals = {
    'a': ['ant','antelope'],
    'b': ['beer'],
  
}

In [91]:
animals['b'].append('bison')

In [93]:
animals['c']=['cat']

In [94]:
animals

{'a': ['ant', 'antelope'],
 'b': ['beer', 'bison', 'bison', 'bison'],
 'c': ['cat']}

In [95]:
if 'c' not in animals:
    animals['c']=[]

animals['c'].append('cat')

In [96]:
animals

{'a': ['ant', 'antelope'],
 'b': ['beer', 'bison', 'bison', 'bison'],
 'c': ['cat', 'cat']}

In [98]:
animals = defaultdict(list)

In [99]:
animals

defaultdict(list, {})

In [101]:
animals['e'].append('elephant')
animals

defaultdict(list, {'e': ['elephant']})

In [102]:
animals['e'].append('elf')
animals

defaultdict(list, {'e': ['elephant', 'elf']})

In [103]:
animals['f']

[]

## List Comprehensions
>>- List comprehensions with filters
>>- List comprehensions with functions
>>- Nested list Comprehensions

In [107]:
mylist = [1,2,3,4,5]
[2*item for item in mylist]

[2, 4, 6, 8, 10]

In [108]:
mylist=list(range(100))
filteredlist = [item for item in mylist if item % 10 ==0]
filteredlist

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [110]:
mystring = 'My name is Rasha. I live in Bangladesh'
mystring.split('.')

['My name is Rasha', ' I live in Bangladesh']

In [111]:
mystring.split()

['My', 'name', 'is', 'Rasha.', 'I', 'live', 'in', 'Bangladesh']

In [114]:
def clearWord(word):
    return word.replace('.','').lower()

[clearWord(word) for word in mystring.split()]

['my', 'name', 'is', 'rasha', 'i', 'live', 'in', 'bangladesh']

In [116]:
[clearWord(word) for word in mystring.split() if len(clearWord(word)) < 3]

['my', 'is', 'i', 'in']

In [117]:
[[clearWord(word) for word in sentence.split()] for sentence in mystring.split('.') ]

[['my', 'name', 'is', 'rasha'], ['i', 'live', 'in', 'bangladesh']]

In [118]:
animalList = [('a','antelope'),('b','beer'),('c','cat'),('d','dog')]
animals = { items [0]: items[1] for items in animalList}
animals

{'a': 'antelope', 'b': 'beer', 'c': 'cat', 'd': 'dog'}

In [120]:
animals = {key: value for key, value in animalList}
animals

{'a': 'antelope', 'b': 'beer', 'c': 'cat', 'd': 'dog'}

In [122]:
animals.items()

dict_items([('a', 'antelope'), ('b', 'beer'), ('c', 'cat'), ('d', 'dog')])

In [123]:
list(animals.items())

[('a', 'antelope'), ('b', 'beer'), ('c', 'cat'), ('d', 'dog')]

In [124]:
[{'letter':key, 'name':value} for key, value in animals.items() ]

[{'letter': 'a', 'name': 'antelope'},
 {'letter': 'b', 'name': 'beer'},
 {'letter': 'c', 'name': 'cat'},
 {'letter': 'd', 'name': 'dog'}]